html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: black;
}

.container {
  height: 100%;
  width: 100%;
  text-align: center;
  background: rgb(0, 0, 0);
  color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 20vh 0 2vh 0;
  padding: 0;
  font-size: 2.5rem;

  animation-name: jitter;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

@keyframes jitter {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(1px, -1px);
  }
  50% {
    transform: translate(-1px, 1px);
  }
  75% {
    transform: translate(1px, 1px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.form {
  display: flex;
  align-items: stretch;
  justify-content: center;
  justify-items: center;
  background: rgb(246, 246, 246);
  padding: 0.5rem;
  margin: 0.25rem;
  border-radius: 0.5rem;
  width: fit-content;
  max-width: 70%;
}

.form-control {
  font-size: 0.9rem;
  padding: 0.2rem;
  margin: 0.2rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.form-control * {
  margin: 0.2rem;
}

.form-control label {
  color: black;
}

.form-control input[type="text"] {
  width: 100%;
}

.form-control input[type="button"] {
  background: rgb(115, 175, 120);
  color: rgb(255, 255, 255);
  border: 1px solid lightblue;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
}

.query-form {
  flex-direction: column;
  justify-items: center;
  width: -webkit-fill-available;
}

.query-form .form-control {
  width: 95%;
  margin: auto;
}

textarea {
  width: -webkit-fill-available;
}

#access-key {
  color: transparent;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

#save {
  background-color: grey;
  color: white;
}

.access-form-save{
  display: flex;
}

.response-container {
  text-align: justify;
  margin: 2rem 0.5rem;
  text-align: justify;
}

#response {
  color: rgb(255, 205, 205);
  font-style: italic;
}

.loading {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#error {
  color: red;
  font-size: 1.2rem;
}


@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

}